    <div class="container">
      <br/>
      <div class="bs-docs-section">
        <div class="page-header">
          <div class="row">
            <div class="col-lg-12">
              <h1 id="buttons">What it Does?</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
           <%= image_tag 'twitter.png'%>
          </div>
        </div>
      </div>
      <div class="row">
       <div class="col-lg-6">
            <h2 id="type-blockquotes"><%= link_to "Fetch My Friends", home_fetch_friend_data_path, :class=>"btn btn-primary" %></h2>
        </div>
       </div>

        <!-- Blockquotes -->

        <div class="row">
          <div class="col-lg-6">
            <h2 id="type-blockquotes">User Speak!</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6">
            <blockquote>
              <p>The Most Awesome tool Ever!</p>
              <small>John Doe from <cite title="Source Title"> The Awesome Corp</cite></small>
            </blockquote>
          </div>
          <div class="col-lg-6">
            <blockquote class="pull-right">
              <p>I love to see the people on the map</p>
              <small>Billy Drake from <cite title="Source Title">Keep Calm LLC</cite></small>
            </blockquote>
          </div>
        </div>
      </div>
</div>